[submodule "content"]
	path = content
	url = git@github.com:hretheum/vector-wave-content.git
[submodule "ideas"]
	path = ideas
	url = git@github.com:hretheum/vector-wave-ideas.git
[submodule "kolegium"]
	path = kolegium
	url = git@github.com:hretheum/vector-wave-editorial-crew.git
[submodule "n8n"]
	path = n8n
	url = git@github.com:hretheum/vector-wave-n8n-workflows.git
[submodule "linkedin"]
	path = linkedin
	url = git@github.com:hretheum/vector-wave-linkedin.git
[submodule "presenton"]
	path = presenton
	url = git@github.com:hretheum/vector-wave-presenton.git
[submodule "publisher"]
	path = publisher
	url = git@github.com:hretheum/vector-wave-publisher.git

[submodule "knowledge-base/knowledge-base/data/crewai-docs"]
	path = knowledge-base/knowledge-base/data/crewai-docs
	url = https://github.com/crewAIInc/crewAI.git
	branch = main
